.Search {
    border-radius: 2px;
}
@media (max-width: 700px) {
    .SearchButton, .CloseButton {
        margin: 10px;
    }
}
.SearchButton button {
    display: flex !important;
    background: red;
}
.SearchButton .Icon {
    margin-right: 10px;
}

.CloseButton {
    margin-bottom: 10px;
}
