.Intake {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e8eb;
}
@media (min-width: 550px) {
    .Intake {
        display: flex;
        align-items: top;
    }
    .IntakeDetails {
        margin-right: 20px;
        width: 220px;
    }
}
.Intake:last-child {
    border: none;
}
.IntakePhoto {
    margin-right: 10px;
}
.IntakePhoto img {
    max-width: 150px;
    max-width: 150px;
}
.Overview {
    display: flex;
    align-items: center;
}
.IntakeDetails {
    flex: 1;
}
.Info b {
    font-weight: normal;
    color: #bfbfbf;
    margin-right: 5px;
    text-decoration: none
}
@media (min-width: 300px) {
    .Info {
    }
    .Info b {
    }
}
.Title {
    display: block;
}
