.App {
    max-width: 700px;
    margin: 0 auto 10px;
}
.SearchResults {
    background: #fff;
    width: 100%;
}
@media (min-width: 700px) {
    .SearchResults {
        border: 1px solid #c8d2d9;
    }
}
.SearchResults.loading {
    opacity: 0.5;
}
.NoResults {
    padding: 30px;
}
