.search-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input {
    margin: 0 10px;
}
.search-input:first-child {
    margin-left: 0;
}
.search-input:last-child {
    margin-right: 0;
}

.Button:hover, .ButtonCircle:hover {
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.125);
}
