.SearchItem {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05);
}

@media (min-width: 200px)  {
    .SearchInput {
        margin-bottom: 10px;
    }
}

.Button:hover, .ButtonCircle:hover {
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.125);
}
